:root {
    --white: #EEEEEE;
    --whiteTwo: #fbfbeb;
  
    --colorOne: #f9f7dc;
    --colorTwo: #dad7cd;
    --colorThree: #a3b18a;
    --colorFour: #588157;
    --colorFive: #3a5a40;
    --colorSix: #344e41;

    --greyOne: #555;
    --greyThree: #7f7f7f;
    --greyTwo: gainsboro;
    --black: #000000;
  }

.filters {
    padding: 5px 20px 20px 20px;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom:20px;
}

.filters .form_filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filters .input-group {
    display: flex;
    flex-direction: column;
}

.filters .input-group.recordId {
    flex: 1 1;
    /* 1/4 of the space */
}

.filters .input-group.title {
    flex: 3 1;
    /* 3/4 of the space */
}

.filters .input-group.contributor {
    flex: 1 1;
    /* Full width */
}

.filters .input-group.orderBy {
    flex: 1 1 ;
    /* 50% of the space */
}

.filters .input-group input[type="text"],
.filters .input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--greyTwo);
    border-radius: 4px;
    box-sizing: border-box;
}

.filters .input-group input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--greyTwo);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filters .input-group input[type="submit"]:hover {
    background-color: var(--greyThree);
}

.filters .input-group input[type="submit"]:active {
    background-color: var(----greyThree);
}