<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GraphDB Data</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navBar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/creater.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='javascript/creater.js') }}"/>
</head>
<body>
    <div class="sidebar">
        {% include 'sidebar.html' %}
    </div>

    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h1>Create a Record</h1>
    <form method="Post" autocomplete="off" action="/createRecord">
        <div>
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>

            <div>
                <label for="alTitle">Alternative Title:</label>
                <input type="text" id="alTitle" name="alTitle">
            </div>

            <div>
                <label for="issn">ISSN:</label>
                <input type="text" id="issn" name="issn">
            </div>

            <div>
                <label for="doi">DOI:</label>
                <input type="text" id="doi" name="doi">
            </div>

            <div>
                <label for="author">Author:</label>
                <input type="text" id="author" name="authors" required>
            </div>

            <div>
                <label for="editor">Editor:</label>
                <input type="text" id="editor" name="editors" required>
            </div>

            <div>
                <label for="advisor">Advisor:</label>
                <input type="text" id="advisor" name="advisors" required>
            </div>

            <div>
                <label for="department">Department:</label>
                <input type="text" id="department" name="departments">
            </div>

            <div>
                <label for="journal">Journal:</label>
                <input type="text" id="journal" name="journals">
            </div>

            <div>
                <label for="publisher">Publisher:</label>
                <input type="text" id="fundingEnt" name="publishers">
            </div>

            <div>
                <label for="fundingEnt">fundingEnt:</label>
                <input type="text" id="fundingEnt" name="fundingEnts">
            </div>

        </div>
        <input type="submit" value=Create Record"">

    </form>

    </div>

    <script>
        autocomplete(document.getElementById("names"), names);
        autocomplete(document.getElementById("journals"), journals);
        autocomplete(document.getElementById("departments"), departments);
        autocomplete(document.getElementById("publishers"), departments);
        autocomplete(document.getElementById("fundingEnts"), departments);
    </script> 
</body>