<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GraphDB Data</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navBar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/filters.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='javascript/creater.js') }}"/>
</head>
<body>

    <div class="sidebar">
        {% include 'sidebar.html' %}
    </div>

    <div class="content">
        <div class="list">
            <h1>List Records</h1>
            <h2>Results</h2>
            <h3>Properties</h3>
            <table id="listRecords" class="tab_green">
                <tr>
                    <th>Data</th>
                    <th>Value</th>
                </tr>
            {% for key, value  in data.recordFields %}
                <tr>
                    <td> <b>{{ key }}</b> </td>
                    <td> {{ value }}</td>
                </tr>
            {% endfor %}
            </table>

            <br><br><br><hr>
            <h3>Authors</h3>
            <table class="tab_green">
                {% for key in data.authors %}
                <tr>
                    <td> <b> {{key.id}} </b> </td>
                    {%if key.name != ""%}
                        <td> {{ key.name }}</td>
                    {%else%}
                        <td> --- </td>
                    {%endif%}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>
