<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Repositorium v2</title>
    <link rel="icon" href="{{ url_for('static', filename='UM.jpg') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navBar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/filters.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='javascript/creater.js') }}"/>
</head>
<body>

    <div class="sidebar">
        {% include 'sidebar.html' %}
    </div>

    <div class="content">
        <div class="list">
            <h1>Record Details</h1>
            <h3>Properties</h3>
            <table id="listRecords" class="tab_green">
                <tr>
                    <th>Data</th>
                    <th>Value</th>
                </tr>
                {% for key, value in data.recordFields %}
                <tr>
                <td> <b>{{ key }}</b> </td>
                <td>
                    {%for item in value%}
                        {%if key == "file"%}
                        <a href="{{item}}">{{ item }}<a>
                        {%else%}
                        {{ item }}
                        {%endif%}

                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {%endfor%}
                    </td>
    
                </tr>
                {% endfor %}
            </table>

            <br><br><br><hr>
            <h3>Keywords</h3>
            <table class="tab_green">
                <tr>
                    <th>Keyword Id</th>
                    <th>Keyword Name</th>
                </tr>
                {% for key in data.subjects %}
                <tr>
                    <td> <b> {{key.id}} </b> </td>
                    {%if key.name != ""%}
                        <td> {{ key.name }}</td>
                    {%else%}
                        <td> --- </td>
                    {%endif%}
                </tr>
                {% endfor %}
            </table>

            <br><br><br><hr>
            <h3>Authors</h3>
            <table class="tab_green">
                <tr>
                    <th>Author Id</th>
                    <th>Author Name</th>
                </tr>
                {% for key in data.authors %}
                <tr>
                    <td> <b> {{key.id}} </b> </td>
                    {%if key.name != ""%}
                        <td> {{ key.name }}</td>
                    {%else%}
                        <td> --- </td>
                    {%endif%}
                </tr>
                {% endfor %}
            </table>

            <br><br><br><hr>
            <h3>Editors</h3>
            {%if data.editors != []%}
                <table class="tab_green">
                    <tr>
                        <th>Editor Id</th>
                        <th>Editor Name</th>
                    </tr>
                    {% for key in data.editors %}
                    <tr>
                        <td> <b> {{key.id}} </b> </td>
                        {%if key.name != ""%}
                            <td> {{ key.name }}</td>
                        {%else%}
                            <td> --- </td>
                        {%endif%}
                    </tr>
                {% endfor %}
                </table>
            {%else%}
                <p><b>No editors associated.</b></p>
            {%endif%}

            <br><br><br><hr>
            <h3>Advisors</h3>
            {%if data.advisors != []%}
                <table class="tab_green">
                    <tr>
                        <th>Advisor Id</th>
                        <th>Advisor Name</th>
                    </tr>
                    {% for key in data.advisors %}
                    <tr>
                        <td> <b> {{key.id}} </b> </td>
                        {%if key.name != ""%}
                            <td> {{ key.name }}</td>
                        {%else%}
                            <td> --- </td>
                        {%endif%}
                    </tr>
                {% endfor %}
                </table>
            {%else%}
                <p><b>No advisors associated.</b></p>
            {%endif%}

            <br><br><br><hr>
            <h3>Departments</h3>
            {%if data.departments != []%}
                <table class="tab_green">
                    <tr>
                        <th>Department Id</th>
                        <th>Department Name</th>
                    </tr>
                    {% for key in data.departments %}
                    <tr>
                        <td> <b> {{key.id}} </b> </td>
                        {%if key.name != ""%}
                            <td> {{ key.name }}</td>
                        {%else%}
                            <td> --- </td>
                        {%endif%}
                    </tr>
                </table>
            {% endfor %}
            {%else%}
                <p><b>No departments associated.</b></p>
            {%endif%}

            <br><br><br><hr>
            <h3>Journals</h3>
            {%if data.journals != []%}
                <table class="tab_green">
                    <tr>
                        <th>Journal Id</th>
                        <th>Journal Name</th>
                    </tr>
                    {% for key in data.journals %}
                    <tr>
                        <td> <b> {{key.id}} </b> </td>
                        {%if key.name != ""%}
                            <td> {{ key.name }}</td>
                        {%else%}
                            <td> --- </td>
                        {%endif%}
                    </tr>
                {% endfor %}
                </table>
            {%else%}
                <p><b>No journals associated.</b></p>
            {%endif%}

            <br><br><br><hr>
            <h3>Funding Entites </h3>
            {%if data.funders != []%}
                <table class="tab_green">
                    <tr>
                        <th>Funding Entity Id</th>
                        <th>Funding Entity Name</th>
                    </tr>
                    {% for key in data.funders %}
                    <tr>
                        <td> <b> {{key.id}} </b> </td>
                        {%if key.name != ""%}
                            <td> {{ key.name }}</td>
                        {%else%}
                            <td> --- </td>
                        {%endif%}
                    </tr>
                {% endfor %}
                </table>
            {%else%}
                <p><b>No funding entities associated.</b></p>
            {%endif%}



            <br>
            <br>
        </div>
    </div>

</body>
</html>
