<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Repositorium v2</title>
    <link rel="icon" href="{{ url_for('static', filename='UM.jpg') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navBar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/creater.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="sidebar">
        {% include 'sidebar.html' %}
    </div>

    <div class="content">
        <p></p>       
        <h1>Update a Record</h1>
        <form method="Post" autocomplete="off" action="/updateRecord/{{id}}">
            <div>
                
                {% for field in data.recordFields %}
                <div>
                    <h3 style="margin-bottom: 0%;">{{field[0].capitalize()}}</h3>
                    <div id="{{ field[0] }}-container">
                    {% for value in field[1] %}
                        {% if field[0].capitalize() != "Id" and field[0].capitalize() != "Timestamp" and field[0].capitalize() != "Oguri" %}
                        <input type="text" id="{{ field[0] }}_{{loop.index}}" value="{{ value }}" name="{{ field[0] }}">
                        {% else %}
                        🔒 <input type="text" id="{{ field[0] }}_{{loop.index}}" value="{{ value }}" name="{{ field[0] }}" disabled>
                        {% endif %}
                    {% endfor %}

                    {% if field[0].capitalize() in ["Abstract", "Issn", "Isbn", "Alternativetitle", "Comments", "Conferencepublication", "Eissn", "Eisbn", "Fundingstream", "Fundingaward"] %}
                    <button type="button" class="add-field" data-field="{{ field[0] }}">+</button>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}

                {% set auth = data.authors | map(attribute='name') | join(';') %}


                <h3 style="margin-bottom: 0%;">Keywords</h3>
                <div id="subject-container">
                </div>
                <button type="button" id="add-subject"> + </button>


                <h3 style="margin-bottom: 0%;">Authors</h3>
                <div id="author-container">
                </div>
                <button type="button" id="add-author"> + </button>
                <!---->


                <h3 style="margin-bottom: 0%;">Editors</h3>
                <div id="editor-container">
                </div>
                <button type="button" id="add-editor"> + </button>


                <!---->

                <h3 style="margin-bottom: 0%;">Advisors</h3>
                <div id="advisor-container">
                </div>
                <button type="button" id="add-advisor"> + </button>

                <!---->
                <h3 style="margin-bottom: 0%;">Departments</h3>
                <div id="department-container">
                </div>
                <button type="button" id="add-department"> + </button>

                <h3 style="margin-bottom: 0%;">Journals</h3>
                <div id="journal-container">
                </div>
                <button type="button" id="add-journal"> + </button>

                <h3 style="margin-bottom: 0%;">Publishers</h3>
                <div id="publisher-container">
                </div>
                <button type="button" id="add-publisher"> + </button>

                <h3 style="margin-bottom: 0%;">Funding Entity</h3>
                <div id="funder-container">
                </div>
                <button type="button" id="add-funder"> + </button>
            </div>
            <input type="submit" value="Update Record">
        </form>
    </div>

    
    <script>
        let author_counter = 1;
        let editor_counter = 0;
        let advisor_counter = 0;
        let department_counter = 0;
        let journal_counter = 0;
        let publisher_counter = 0;
        let funder_counter = 0;
        let subject_counter = 0;
        let field_counters = {};

        function applyAutocomplete(elementId, availableTags) {
            $("#" + elementId).autocomplete({
                source: availableTags
            });
        }

        // Initialize autocomplete for the first author input
        var availableTags = [
            {% for value in allData.contributors %} 
            "{{value.id}}:: {{value.name}}",
            {% endfor %} 
        ];

        var availableTagsDepartments = [
            {% for value in allData.departments %} 
            "{{value.id}}:: {{value.name}}",
            {% endfor %} 
        ];

        var availableTagsJournals = [
            {% for value in allData.journals %} 
            "{{value.id}}:: {{value.name}}",
            {% endfor %} 
        ];

        var availableTagsPublishers = [
            {% for value in allData.publishers %} 
            "{{value.id}}:: {{value.name}}",
            {% endfor %} 
        ];

        var availableTagsFunders = [
            {% for value in allData.funders %} 
            "{{value.id}}:: {{value.name}}",
            {% endfor %} 
        ];

        var availableTagsSubjects = [
            {% for value in allData.subjects %} 
            "{{value.id}}:: {{value.name}}",
            {% endfor %} 
        ];


        // Initialize present values of the record
        let authors = [
            {% for author in data.authors %}
                "{{author.id}}:: {{author.name}}"{% if not loop.last %},{% endif %}
                // "{{ author }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        let editors = [
            {% for author in data.editors %}
                "{{author.id}}:: {{author.name}}"{% if not loop.last %},{% endif %}
                // "{{ author }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
        
        let advisors = [
            {% for author in data.advisors %}
                "{{author.id}}:: {{author.name}}"{% if not loop.last %},{% endif %}
                // "{{ author }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        let departments = [
            {% for author in data.departments %}
                "{{author.id}}:: {{author.name}}"{% if not loop.last %},{% endif %}
                // "{{ author }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        let journals = [
            {% for author in data.journals %}
                "{{author.id}}:: {{author.name}}"{% if not loop.last %},{% endif %}
                // "{{ author }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
        
        let publishers = [
            {% for author in data.publishers %}
                "{{author.id}}:: {{author.name}}"{% if not loop.last %},{% endif %}
                // "{{ author }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        let funders = [
            {% for author in data.funders %}
                "{{author.id}}:: {{author.name}}"{% if not loop.last %},{% endif %}
                // "{{ author }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        let subjects = [
            {% for author in data.subjects %}
                "{{author.id}}:: {{author.name}}"{% if not loop.last %},{% endif %}
                // "{{ author }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        function addAuthorInput(authorName) {
            author_counter++;

            let newDiv = document.createElement('div');
            newDiv.className = 'author-container';
            newDiv.id = 'author_div_' + author_counter;

            let newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.id = 'author_' + author_counter;
            newInput.name = 'author_' + author_counter;
            newInput.value = authorName || '';

            let removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'remove-author';
            removeButton.name = 'remove_author_' + author_counter;
            removeButton.textContent = 'Remove';

            newDiv.appendChild(newInput);
            newDiv.appendChild(removeButton);

            document.getElementById('author-container').appendChild(newDiv);

            applyAutocomplete(newInput.id, availableTags);
        }

        // Add existing authors on page load
        for (let i = 0; i < authors.length; i++) {
            addAuthorInput(authors[i]);
        }

        // Event listener for adding new authors
        document.getElementById('add-author').addEventListener('click', function(event) {
            event.preventDefault();
            addAuthorInput('');
        });

        // Function to remove the dynamically added author input
        $(document).on('click', '.remove-author', function(event) {
            event.preventDefault();
            $(this).parent('.author-container').remove();
        });
        applyAutocomplete('author_1', availableTags);



// EDITORS
        function addeditorInput(editorName) {
            editor_counter++;

            let newDiv = document.createElement('div');
            newDiv.className = 'editor-container';
            newDiv.id = 'editor_div_' + editor_counter;

            let newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.id = 'editor_' + editor_counter;
            newInput.name = 'editor_' + editor_counter;
            newInput.value = editorName || '';

            let removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'remove-editor';
            removeButton.name = 'remove_editor_' + editor_counter;
            removeButton.textContent = 'Remove';

            newDiv.appendChild(newInput);
            newDiv.appendChild(removeButton);

            document.getElementById('editor-container').appendChild(newDiv);

            applyAutocomplete(newInput.id, availableTags);
        }

        // Add existing editors on page load
        for (let i = 0; i < editors.length; i++) {
            addeditorInput(editors[i]);
        }

        // Event listener for adding new editors
        document.getElementById('add-editor').addEventListener('click', function(event) {
            event.preventDefault();
            addeditorInput('');
        });

        // Function to remove the dynamically added editor input
        $(document).on('click', '.remove-editor', function(event) {
            event.preventDefault();
            $(this).parent('.editor-container').remove();
        });
        applyAutocomplete('editor_1', availableTags);

// ADVISOR
        function addadvisorInput(advisorName) {
            advisor_counter++;

            let newDiv = document.createElement('div');
            newDiv.className = 'advisor-container';
            newDiv.id = 'advisor_div_' + advisor_counter;

            let newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.id = 'advisor_' + advisor_counter;
            newInput.name = 'advisor_' + advisor_counter;
            newInput.value = advisorName || '';

            let removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'remove-advisor';
            removeButton.name = 'remove_advisor_' + advisor_counter;
            removeButton.textContent = 'Remove';

            newDiv.appendChild(newInput);
            newDiv.appendChild(removeButton);

            document.getElementById('advisor-container').appendChild(newDiv);

            applyAutocomplete(newInput.id, availableTags);
        }

        // Add existing advisors on page load
        for (let i = 0; i < advisors.length; i++) {
            addadvisorInput(advisors[i]);
        }

        // Event listener for adding new advisors
        document.getElementById('add-advisor').addEventListener('click', function(event) {
            event.preventDefault();
            addadvisorInput('');
        });

        // Function to remove the dynamically added advisor input
        $(document).on('click', '.remove-advisor', function(event) {
            event.preventDefault();
            $(this).parent('.advisor-container').remove();
        });
        applyAutocomplete('advisor_1', availableTags);

// SUBJECT
        function addsubjectInput(subjectName) {
            subject_counter++;

            let newDiv = document.createElement('div');
            newDiv.className = 'subject-container';
            newDiv.id = 'subject_div_' + subject_counter;

            let newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.id = 'subject_' + subject_counter;
            newInput.name = 'subject_' + subject_counter;
            newInput.value = subjectName || '';

            let removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'remove-subject';
            removeButton.name = 'remove_subject_' + subject_counter;
            removeButton.textContent = 'Remove';

            newDiv.appendChild(newInput);
            newDiv.appendChild(removeButton);

            document.getElementById('subject-container').appendChild(newDiv);

            applyAutocomplete(newInput.id, availableTagsSubjects);
        }

        // Add existing subjects on page load
        for (let i = 0; i < subjects.length; i++) {
            addsubjectInput(subjects[i]);
        }

        // Event listener for adding new subjects
        document.getElementById('add-subject').addEventListener('click', function(event) {
            event.preventDefault();
            addsubjectInput('');
        });

        // Function to remove the dynamically added subject input
        $(document).on('click', '.remove-subject', function(event) {
            event.preventDefault();
            $(this).parent('.subject-container').remove();
        });
        applyAutocomplete('subject_1', availableTagsSubjects);


// DEPARTMENT
        function adddepartmentInput(departmentName) {
            department_counter++;

            let newDiv = document.createElement('div');
            newDiv.className = 'department-container';
            newDiv.id = 'department_div_' + department_counter;

            let newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.id = 'department_' + department_counter;
            newInput.name = 'department_' + department_counter;
            newInput.value = departmentName || '';

            let removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'remove-department';
            removeButton.name = 'remove_department_' + department_counter;
            removeButton.textContent = 'Remove';

            newDiv.appendChild(newInput);
            newDiv.appendChild(removeButton);

            document.getElementById('department-container').appendChild(newDiv);

            applyAutocomplete(newInput.id, availableTagsDepartments);
        }

        // Add existing departments on page load
        for (let i = 0; i < departments.length; i++) {
            adddepartmentInput(departments[i]);
        }

        // Event listener for adding new departments
        document.getElementById('add-department').addEventListener('click', function(event) {
            event.preventDefault();
            adddepartmentInput('');
        });

        // Function to remove the dynamically added department input
        $(document).on('click', '.remove-department', function(event) {
            event.preventDefault();
            $(this).parent('.department-container').remove();
        });
        applyAutocomplete('department_1', availableTagsDepartments);


// PUBLISHER
        function addpublisherInput(publisherName) {
            publisher_counter++;

            let newDiv = document.createElement('div');
            newDiv.className = 'publisher-container';
            newDiv.id = 'publisher_div_' + publisher_counter;

            let newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.id = 'publisher_' + publisher_counter;
            newInput.name = 'publisher_' + publisher_counter;
            newInput.value = publisherName || '';

            let removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'remove-publisher';
            removeButton.name = 'remove_publisher_' + publisher_counter;
            removeButton.textContent = 'Remove';

            newDiv.appendChild(newInput);
            newDiv.appendChild(removeButton);

            document.getElementById('publisher-container').appendChild(newDiv);

            applyAutocomplete(newInput.id, availableTagsPublishers);
        }

        // Add existing publishers on page load
        for (let i = 0; i < publishers.length; i++) {
            addpublisherInput(publishers[i]);
        }

        // Event listener for adding new publishers
        document.getElementById('add-publisher').addEventListener('click', function(event) {
            event.preventDefault();
            addpublisherInput('');
        });

        // Function to remove the dynamically added publisher input
        $(document).on('click', '.remove-publisher', function(event) {
            event.preventDefault();
            $(this).parent('.publisher-container').remove();
        });
        applyAutocomplete('publisher_1', availableTagsPublishers);

// FUNDERS
        function addfunderInput(funderName) {
            funder_counter++;

            let newDiv = document.createElement('div');
            newDiv.className = 'funder-container';
            newDiv.id = 'funder_div_' + funder_counter;

            let newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.id = 'funder_' + funder_counter;
            newInput.name = 'funder_' + funder_counter;
            newInput.value = funderName || '';

            let removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'remove-funder';
            removeButton.name = 'remove_funder_' + funder_counter;
            removeButton.textContent = 'Remove';

            newDiv.appendChild(newInput);
            newDiv.appendChild(removeButton);

            document.getElementById('funder-container').appendChild(newDiv);

            applyAutocomplete(newInput.id, availableTagsFunders);
        }

        // Add existing funders on page load
        for (let i = 0; i < funders.length; i++) {
            addfunderInput(funders[i]);
        }

        // Event listener for adding new funders
        document.getElementById('add-funder').addEventListener('click', function(event) {
            event.preventDefault();
            addfunderInput('');
        });

        // Function to remove the dynamically added funder input
        $(document).on('click', '.remove-funder', function(event) {
            event.preventDefault();
            $(this).parent('.funder-container').remove();
        });
        applyAutocomplete('funder_1', availableTagsFunders);

// JOURNAL
function addjournalInput(journalName) {
            journal_counter++;

            let newDiv = document.createElement('div');
            newDiv.className = 'journal-container';
            newDiv.id = 'journal_div_' + journal_counter;

            let newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.id = 'journal_' + journal_counter;
            newInput.name = 'journal_' + journal_counter;
            newInput.value = journalName || '';

            let removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'remove-journal';
            removeButton.name = 'remove_journal_' + journal_counter;
            removeButton.textContent = 'Remove';

            newDiv.appendChild(newInput);
            newDiv.appendChild(removeButton);

            document.getElementById('journal-container').appendChild(newDiv);

            applyAutocomplete(newInput.id, availableTagsJournals);
        }

        // Add existing journals on page load
        for (let i = 0; i < journals.length; i++) {
            addjournalInput(journals[i]);
        }

        // Event listener for adding new journals
        document.getElementById('add-journal').addEventListener('click', function(event) {
            event.preventDefault();
            addjournalInput('');
        });

        // Function to remove the dynamically added journal input
        $(document).on('click', '.remove-journal', function(event) {
            event.preventDefault();
            $(this).parent('.journal-container').remove();
        });
        applyAutocomplete('journal_1', availableTagsJournals);



        document.addEventListener('DOMContentLoaded', (event) => {
    // Initialize a counter object to keep track of added fields
    let counter = {};

    // Loop through each add-field button
    document.querySelectorAll('.add-field').forEach(button => {
        button.addEventListener('click', function() {
            const field = this.getAttribute('data-field');
            const container = document.getElementById(`${field}-container`);

            // Increment the counter for this field
            if (!counter[field]) {
                counter[field] = 1;
            } else {
                counter[field]++;
            }

            const newInputId = `${field}_${counter[field]}`;

            // Create a container div for the input and remove button
            const inputContainer = document.createElement('div');

            // Create the new input element
            const newInput = document.createElement('input');
            newInput.type = 'text';
            newInput.name = newInputId;
            newInput.id = newInputId;

            // Create the remove button
            const removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.innerHTML = '-';
            removeButton.addEventListener('click', function() {
                // Remove the entire inputContainer div
                container.removeChild(inputContainer);
            });

            // Append the input and remove button to the container div
            inputContainer.appendChild(newInput);
            inputContainer.appendChild(removeButton);

            // Append the container div to the main container
            container.appendChild(inputContainer);
        });

        // Count existing fields on page load for synchronization
        const field = button.getAttribute('data-field');
        const container = document.getElementById(`${field}-container`);
        counter[field] = container.children.length; // Initialize counter with existing count
    });
});
    </script>
</body>

</html>
